<h1>Dinosaurs</h1>
<section class="dino_list">
<% @dinosaurs.each do |dinosaur| %>
  <p><%= link_to dinosaur.name, dinosaur_path(dinosaur.id) %></p>
<% end %>
</section>
<br>
<hr>
<div class="new_dino">
<%= link_to "[New Dinosaur]", new_dinosaur_path %>
</div>
